.item {
  font-size: 18px;
  text-decoration: none;
  list-style: none;
  background-color: rgb(240, 247, 221);
  margin: 3px 0;
  width: 100%;
  border-radius: 3px;
  padding: 4px 9px;
  display: flex;
  cursor: move;
}

.item.drag{
  opacity: 0.4;
}

.zero{
  min-height: 26px;
  text-decoration: none;
  list-style: none;
}

.zero.over,.item.over{
  border-bottom: 3px solid green;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.item:hover {
  background-color: rgb(225, 243, 208);
}

.list-group {
  margin-bottom: 30px;
}

.content {
  vertical-align: middle;
  padding: 0;
}

#empty h1 {
  opacity: 0.5;
}

#empty img {
  text-align: center;
  margin: 0 auto;
  max-width: 90px;
  opacity: 0.2;
}

#button {
  background-color: transparent;
  color: lightslategray;
  padding: 0;
  margin-left: auto;
  font-weight: bolder;
}

#button:hover {
  color: salmon;
}

.checkbox {
  margin-right: 8px;
}

@media (max-width: 360px) {
  #button {
    font-size: 12px;
  }
}
